/**
==========================

general

==========================
**/

:root {
    --yellow: #ffc600;
    --black: #272727;
}
  

html {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 900;
    font-size: 10px;
    color: var(--black);
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif;
}

a {
    text-decoration: none;
}

/**
==========================

header container

==========================
**/

.header-container {
    width: 70vw;
    margin: 0 auto;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        "newsletters title btn-subscribe"
        "nav-container nav-container nav-container";
}

/* .header {
    grid-area: header;
}
 */


.newsletters {
    grid-area: newsletters;
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    justify-self: start;
    font-size: 1.5rem;
}

.newsletters span {
    color: #1abbe8;
}

.newsletters a {
    color: #999999;
    font-family: 'PT Serif', serif;
}

.newsletters a:hover {
    text-decoration: underline;
}

.title {
    grid-area: title;
    height: 5rem;
    width: 40rem;
    color: #231f1f;
    font-size: 5rem;
    text-align: center;
    font-family: 'PT Serif', serif;
}
.btn.subscribe{
    grid-area: btn-subscribe;
    background: #00b3e5;
    color: white;
    font-family: 'PT Serif', serif;
    font-size: 1.5rem;
    font-weight: 900;
    border-radius: .5rem;
    border: 0;
    padding: 1rem 3rem;
    justify-self: end;
    cursor: pointer;
}
.btn.subscribe:hover {
    background: #292995;
}



.nav-container {
    grid-area: nav-container;
    background: var(--black);
}
