/**
============

general

============
**/

*, 
*::before, 
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: inherit;
    font-family: 'Roboto';
    color: #fff;
}

html {
    font-size: 10px;
    background-color: #1f1f1f;
}

.head {
    color: white;
}

.container {
    min-height: 100vh;
    background-color: #1f1f1f;
}

/**
=============
top bar 
=============
**/

.top_bar {
    background: #282828fa;
    position: fixed;
    align-items: center;
    height: 6rem;
    width: 100%;
    display: flex;
    left: 0;
    top: 0;
    z-index: 70;
}


.menu {
    background: #282828fa;
    margin: 0 2.5rem;
}

.icon {
    display: flex;
    align-items: center;
}

.youtube {
    font-size: 1.5rem;
    margin-left: 5px;
}

.search_bar {
    display: flex;
    margin: 0 auto;
    max-width: 85rem;
    width: 70rem;
    align-items: center;
}

.search_input {
    width: 100%;
    background: black;
    border: solid 2px black;
    padding: 5px 0 5px 10px;
    margin-top: 5px;
    margin-right: 5px;
    font-size: 1.5rem;
}

.magnify_icon {
    display: flex;
    justify-content: center;
    background-color: #393939;
    width: 75px;
    height: 35px;
    margin-top: .5rem;
}

.user_panel {
    display: flex;
    align-items: center;
}

.btn {
    width: 24px;
    height: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

.user_panel .btn {
    margin-right: 2.8rem;
}

.sign_btn {
    display: flex;
    width: 11rem;
    height: 3.5rem;
    border: 2px solid #3ea6ff;
    align-items: center;
}

.account_icon {
    margin-left: .5rem;
}

#sign_span {
    display: block;
    color: #3ea6ff;
}


/**
==========

main content

==========
**/

.content {
    display: grid;
    grid-template: auto 1fr / 2fr 1fr;
    padding: 8rem;
}

.player {
    position: relative;
    padding-bottom: 54%;
    padding-top: 25px;
    height: 0;
}

.player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tags {
    color: #3ea6ff;
}

.video_title {
    font-size: large;
}

.video_primary_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(170, 170, 170, 0.2);
}
#flex {
    flex: 1;
    flex-basis: 0.000000001px;
}
.video_options {
    display: flex;
}

.likes_dislikes {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #aaa;
    margin: 0 20px;
}

.video_options .btn {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-right: 15px;
}

.video_options .more_btn {
    margin-right: 0;
}

.btn span {
    display: inline-block;
    padding-left: 15px;
}


/**
========

video description

========
**/

.channel_info {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.channel_logo img {
    border-radius: 50%;
}

.channel_info_detail {
    margin-left: 2rem;
}

.channel_name {
    display: flex;
    align-items: center;
}

.channel_name img {
    height: 1.3rem;
}

.channel_link {
    text-decoration: none;
    font-size: 1.3rem;
    margin-right: .5rem;
}

.channel_subscribers_count {
    color: #aaa;
    font-size: 1.3rem;
}

.subscrib_btn {
    width: auto;
    height: auto;
    margin-left: auto;
    padding: 1rem 1.5rem;
    border-radius: 2px;
    font-size: 1.4rem;
    font-weight: 500;
    background-color: #bd0000;
}

