/**
============

general

============
**/

*, 
*::before, 
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: inherit;
    font-family: 'Roboto';
    color: #fff;
}

html {
    font-size: 10px;
    background-color: #1f1f1f;
}

.head {
    color: white;
}

.container {
    min-height: 100vh;
    background-color: #1f1f1f;
}

/**
=============
top bar 
=============
**/

.top_bar {
    background: #282828fa;
    position: fixed;
    align-items: center;
    height: 6rem;
    width: 100%;
    display: flex;
    left: 0;
    top: 0;
    z-index: 70;
}


.menu {
    background: #282828fa;
    margin: 0 2.5rem;
}

.icon {
    display: flex;
    align-items: center;
}

.youtube {
    font-size: 1.5rem;
    margin-left: 5px;
}

.search_bar {
    display: flex;
    margin: 0 auto;
    max-width: 85rem;
    width: 70rem;
    align-items: center;
}

.search_input {
    width: 100%;
    background: black;
    border: solid 2px black;
    padding: 5px 0 5px 10px;
    margin-top: 5px;
    margin-right: 5px;
    font-size: 1.5rem;
}

.magnify_icon {
    display: flex;
    justify-content: center;
    background-color: #393939;
    width: 75px;
    height: 35px;
    margin-top: .5rem;
}

.user_panel {
    display: flex;
    align-items: center;
}

.btn {
    width: 24px;
    height: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

.user_panel .btn {
    margin-right: 2.8rem;
}

.sign_btn {
    display: flex;
    width: 11rem;
    height: 3.5rem;
    border: 2px solid #3ea6ff;
    align-items: center;
}

.account_icon {
    margin-left: .5rem;
}

#sign_span {
    display: block;
    color: #3ea6ff;
}


/**
==========

main content

==========
**/

.content {
    display: grid;
    grid-template: auto 1fr / 2fr 1fr;
    padding: 8rem;
}

.player {
    position: relative;
    padding-bottom: 54%;
    padding-top: 25px;
    height: 0;
}

.player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tags {
    color: #3ea6ff;
}

.video_title {
    font-size: large;
}

.video_primary_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(170, 170, 170, 0.2);
}
#flex {
    flex: 1;
    flex-basis: 0.000000001px;
}
.video_options {
    display: flex;
}

.likes_dislikes {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #aaa;
    margin: 0 20px;
}

.video_options .btn {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-right: 15px;
}

.video_options .more_btn {
    margin-right: 0;
}

.btn span {
    display: inline-block;
    padding-left: 15px;
}


/**
========

video description

========
**/

.description {
    border-bottom: solid 2px rgba(170, 170, 170, 0.2);
}

.channel_info {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.channel_logo img {
    border-radius: 50%;
}

.channel_info_detail {
    margin-left: 2rem;
}

.channel_name {
    display: flex;
    align-items: center;
}

.channel_name img {
    height: 1.3rem;
}

.channel_link {
    text-decoration: none;
    font-size: 1.3rem;
    margin-right: .5rem;
}

.channel_subscribers_count {
    color: #aaa;
    font-size: 1.3rem;
}

.subscrib_btn {
    width: auto;
    height: auto;
    margin-left: auto;
    padding: 1rem 1.5rem;
    border-radius: 2px;
    font-size: 1.4rem;
    font-weight: 500;
    background-color: #bd0000;
}

.video_description {
    margin-left: 7rem;
}

.video_description_para a {
    text-decoration: none;
    color: #3ea6ff;
}

.game_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
}

.game_info div:first-child {
    margin-left: 70px;
}

.card_info {
    display: flex;
    align-items: center;
    height: 100px;
    flex-grow: 1;
    background-color: rgba(0,0,0,0.3);
    max-width: 45%;
}

.card_info_game {
    display: flex;
    flex-direction: column;
    padding-left: 1.6rem;
}

.game_year {
    font-size: 1.2rem;
    color: #aaa;
}

.browse_game {
    font-size: 1.2rem;
    color: #aaa;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.catalog_icon {
    border-radius: 50%;
    height: 55%;
    margin-left: 30px;
}

.show-more {
    width: auto;
    font-size: 1.3rem;
    font-weight: 500;
    color: #aaa;
    margin: 20px 0 20px 70px;
    background-color: #1f1f1f;
    border: none;
}

/**
================================


aside section


================================
**/

.up_next {
    margin-left: 5rem;
    padding-bottom: 4rem;
    border-bottom: solid 2px rgba(170, 170, 170, 0.2);
}

.autoplay {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.autoplay > span {
    flex-grow: 1;
    font-size: 1.6rem;
}

.autoplay span ~ span {
    padding-right: 1rem;
    flex-grow: 0;
    color: #aaa;
    font-size: 1.3rem;
    font-weight: 500;
}



.switch {
    position: relative;
    display: flex;
    align-items: center;
    width: 38px;
    height: 15px;
    border-radius: 15px;
    border: none;
    background-color: rgb(66, 66, 66);
}

.switch::before {
    content: '';
    position: absolute;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #3ea6ff;
    box-shadow: 0 0 5px 1px rgb(0 0 0 / 50%);
}


.thumbnail {
    position: relative;
    display: flex;
    width: 100%;
    padding-top: 1rem;
    text-decoration: none;
}

.thumbnail_img {
    position: relative;
}

.duration {
    width: 100%;
    padding: 0.5rem;
    margin-top: -2.7rem;
    text-align: right;
}

.duration span {
    padding: 0.1rem 0.4rem;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 2px;
    background-color: #000;
    margin-bottom: 3rem;
    position: relative;
    bottom: 1rem;
}

.thumbnail-img-overlay {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    top: 0;
}

.thumbnail-img-overlay button {
    margin-right: 1rem;
    margin-top: .5rem;
}

.thumbnail-info {
    margin-left: 1.5rem;
}

.thumbnail-title {
    font-size: 1.5rem;
}

.thumbnail-channel-name {
    display: flex;
    align-items: center;
    color: #aaa;
}

.thumbnail-channel-name > img {
    margin-left: 0.5rem;
    width: 14px;
}

.thumbnail-video-info {
    padding-top: 0.2rem;
    padding-bottom: 0.3rem;
    font-size: 1.3rem;
    color: #aaa;
}

.thumbnail-new {
    padding: 0.1rem 0.5rem;
    background-color: rgb(51, 51, 51);
    border-radius: 2px;
    font-size: 1.2rem;
    font-weight: 500;
    color: #aaa;
}

.recommendation {
    margin-left: 5rem;
}


/**
==========================

comment section

==========================
**/

.comment-info {
    display: flex;
    align-items: center;
    margin-top: 2.5rem;
}

.comment-count {
    font-size: 1.5rem;
}

.sort-btn {
    display: flex;
    align-items: center;
    width: auto;
    font-weight: 500;
    font-size: 1.5rem;
    color: #aaa;
    margin-left: 5rem;
}

.new-comment,
.comment {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}

.user-avatar img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.comment-input {
    flex-grow: 1;
    align-self: self-start;
    margin: 0 2.4rem 0 1.5rem;
    height: 2.5rem;
    font-size: 1.4rem;
    font-weight: 500;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #393939;
}

.comment {
    align-items: initial;
}

.comment-info {
    margin-left: 1.5rem;
    flex-direction: column;
    align-items: initial;
    margin-top: -10px;
}

.comment-user {
    display: flex;
    align-items: center;
}



.user-name,
.comment-time {
    font-size: 1.3rem;
}

.comment-time {
    padding-left: 0.5rem;
    color: #aaa;
}

.comment-text {
    padding: 0.5rem 0 0.5rem 0;
    line-height: 1.5;
    font-size: 1.4rem;
}

.comment-options,
.cm-show-replies-btn {
    display: flex;
    align-items: center;
}

.btn.cm-like-btn,
.btn.cm-dislike-btn {
    padding-right: 1.5rem;
}

.cm-like-btn span, .cm-reply-btn span {
    font-size: 1.3rem;
    font-weight: 500;
    color: #aaa;
}

.comment-options .btn img {
    width: 16px;
    height: 16px;
}

.comment-options .btn {
    display: flex;
    align-items: center;
    width: auto;
    height: 32px;
    color: #aaa;
}

.cm-show-replies-btn {
    width: auto;
}

.cm-show-replies-btn span {
    padding-left: 0.5rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: #3ea6ff;
}

.cm-show-more-btn {
    display: flex;
    align-items: center;
    width: 150px;
}

.cm-show-more-btn span {
    width: 100%;
}