#top {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#nav {
    background-color: blue;
    width: 100px;
    text-align: center;
}

#icon {
    background-color: blueviolet;
}

#searchbar {
    background-color: brown;
}

#topright {
    background-color: chocolate;
}