/**
==========================

general

==========================
**/

:root {
    --yellow: #ffc600;
    --black: #272727;
    --grey: #999999;
    --waterblue: #1abbe8;
    --whitesmoke: #f5f5f5;
    --darkblue: #045587;
    --mediumvioletred: #cc0099;
    --gutter: 20px;
    --Lato: 'Lato', sans-serif;
}


  

html {
    font-size: 10px;
    color: black;
    font-family: 'Roboto Slab', serif;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            
}

a {
    text-decoration: none;
}

/* min-width: 1024px */

/**
==========================

header-container

==========================
**/

.header-container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    background-color: white;
    
    position: sticky;
    top: 0;
    height: 90px;
    width: 100%;
}   

.logo-container {
    height: 48px;
    font-size: 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-family: 'Poppins', sans-serif;;
}

.menu-logo {
    display: none;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    gap: 30px;
    word-spacing: 5px;

    list-style: none;
    padding-left: 0;
    font-size: 1.5rem;
}

.mail-container {
    height: 48px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.low-banner {
    background-color: #ffc600;
    height: 42px;
    grid-column: 1 / -1;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;

    font-size: 1.5rem;
}

/**
==========================

hero part start

==========================
**/

.main-title-container {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;


    height: 200px;
    width: 80%;
    margin: 20px auto;
}

.main-title-container > * {
    flex: 1;
}

.main-title {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 200px;
    max-width: 25%;
}



.sub-title {
    height: 200px;
    max-width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-title > h1 {
    font-size: 3rem;
    color: var(--grey);
}

/**
==========================

card-container

==========================
**/

.card-container {

    width: 80%;
    height: 650px;
    margin: 20px auto;

    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr .3fr 1fr;
    gap: 10px;
}

.card-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    color: var(--whitesmoke);
    padding: 20px;
}

.card-item h2 {
    font-size: 2.5rem;
}

.item1,
.item2,
.item3,
.item4,
.item5 {
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.item1 {
    background-image: url(../images/card-image1.jpeg);
    grid-row: 1 / 3;
}

.item2 {
    background-image: url(../images/card-image2.jpeg);
    
}

.item3 {
    background-image: url(../images/card-image3.jpeg);
}

.item4 {
    background-image: url(../images/card-image4.jpeg);
    grid-row: 3 / -1;
}

.item5 {
    background-image: url(../images/card-image5.jpeg);
    grid-row: 2 / -1;
    grid-column: 2 / -1;
}


/**
==========================

popular-container 

==========================
**/


.popular-container {
    width: 100%;
    height: 300px;
    margin-top: 100px;
    background-color: var(--whitesmoke);

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr);
    
}

.popular-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popular-header {
    grid-column: 1 / -1;
    grid-row: 1 / 1;
    color: var(--grey);
    font-family: var(--Lato);
    font-size: 3rem;
    letter-spacing: 5px;
}

.popular1 {
    grid-column-start: 2;
}

.popular-item > span {
    color: var(--mediumvioletred);
    font-size: 3rem;
    padding-right: 20px;
}

.popular-item > a {
    color: var(--black);
    font-size: 1.5rem;
}

.popular-item > a:hover {
    border-bottom: 3px solid var(--mediumvioletred); /* or whatever colour you'd prefer */
}


/**
==========================

latest-stories

==========================
**/

.latest-stories {
    max-width: 1280px;
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 2fr 2fr 1fr;
    gap: 10px;
}

.latest-stories-header {

    color: var(--black);
    font-size: 3rem;
    font-weight: bolder;

    grid-column: 1 / -1;
    display: flex;
    align-items: center;
}

.latest-stories-item {

    display: flex;
    flex-direction: column;

    
}

.item-img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-header {
    font-size: 1.5rem;
}

.item-date {
    color: var(--grey);
}

.latest-stories-footer {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.all-news-btn {
    border: 1px solid var(--grey);
    background-color: white;
    font-size: 2rem;
    padding: 10px 20px;
    border-radius: 10px;
}



/* explore channels start */
.explore-channels-container {
    max-width: 80%;
    height: 400px;
    margin: 0 auto;
}

.explore-channels-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 20%;
    font-size: 3.5rem;
    font-weight: bolder;
    margin-bottom: 20px;
}

.explore-channels-scroll {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;

    gap: 20px;
}

.explore-channels-item {
    flex: 0 0 350px;
    height: 200px;
}

.explore-channels-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* explore channels end */


/* newsletter start */

.newsletter-container {
    width: 100vw;
    background: linear-gradient(90deg, rgba(0,36,31,1) 0%, rgba(191,23,156,1) 37%, rgba(145,0,255,1) 100%);
    height: 400px;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
}

.newsletter-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    max-width: 50%;
    min-width: 550px;
}

.newsletter-header span {
    color: white;
}

.newsletter-header span:first-child {
    margin-top: 50px;
    font-size: 5rem;
    font-family: 'Poppins', sans-serif;
}

.newsletter-header span:last-child {
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
}

.newsletter-header a {
    color: var(--waterblue);
}

.newsletter-input-container {

    margin-top: 30px;
    width: 50%;
    height: 50px;

    padding: 0 20px;
    background-color: white;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.newsletter-input-container > img {

    height: 50%;

}

.newsletter-input-container > input {
    width: 100%;
    height: 100%;
    border-style: none;
    font-size: 2rem;
    padding-left: 10px;
}

.newsletter-input-container > input:focus {
    outline: none;
}

.newsletter-input-container > span {
    font-size: 2rem;
}

.newsletter-icons {
    
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
}

/* newsletter end */



/* watch-video start */

.watch-video {

    max-width: 80vw;
    min-width: 1080px;
    margin: 50px auto;
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;

    display: grid;
    grid-template-columns: minmax(800px,4fr) minmax(200px,1fr);
    grid-template-rows: 100px 900px;
    column-gap: 20px;
}

.video-header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.video-container {
    grid-row: 2 / -1;
    grid-column: 1 / -2;

    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.video-container > iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.video-sidebar {
    grid-template-columns: -2 / -1;
    grid-template-rows: 2 / -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow-y:scroll ;
}

.sidebar-item > img {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

/* watch-video end */


/* footer part start */
.footer-container {
    width: 100%;
    background-color: var(--black);
    color: var(--whitesmoke);
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.footer-logo > h3 {
    font-size: 5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 0;
    margin-top: 0;
}

.footer-logo > span {
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 5px;
}   


.footer-icons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.more-tnw {
    margin-top: 20px;
    margin-bottom: 20px;
}

.more-tnw > span {
    font-size: 2rem;
}

.more-tnw > ul {
    --text-opacity: 1;
    list-style: none;
    padding-left: 0;
    color: rgba(0,204,204,var(--text-opacity));
    line-height: 20px;

    font-size: 1.5rem;
}


/**
==========================

This is the media query part

==========================
**/

@media only screen and (max-width: 1023px) {

    /* logo-container start */
    .logo-container {
        justify-content: center;
    }

    .menu-logo {
        display: block;
    }

    .main-title {
        width: 180px;
    }

    .card-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1fr 1fr;
        gap: 10px;
    }

    .item1 {
        background-color: cadetblue;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
    }
    
    .item2 {
        background-color: chocolate;
    }
    
    .item3 {
        background-color: cornflowerblue;
    }
    
    .item4 {
        background-color: darkgreen;
        grid-row: 3 / -1;
    }
    
    .item5 {
        background-color: darkslateblue;
        grid-row: -2 / -1;
        grid-column: 2 / -1;
    }

    /* logo-container end */


    /* popular-container start */
    .popular-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6, 1fr);
    }

    .popular-item {
        grid-column: 1 / -1;
    }

    .popular1 {
        grid-column-start: 1;
    }

    .nav-container,
    .mail-container,
    .low-banner,
    .sub-title {
        display: none;
    }

    /* popular-container end */

    /* latest stories start */
    .latest-stories {
        max-width: 1000px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 2fr 2fr 2fr 2fr 1fr;
        gap: 20px;
    }
    /* latest stories end */
    
    

    /* explore channels start */

    .explore-channels-container {
        width: 90vw;
        height: 400px;
        margin: 0 auto;
    }
    
    .explore-channels-header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 20%;
    }
    
    .explore-channels-scroll {
        gap: 10px;
    }
    
    .explore-channels-item {
        flex: 0 0 250px;
        height: 150px;
    }
    /* explore channels end */


    /* newsletter start */
    .newsletter-header {
        width: 620px;
    }

    .newsletter-header span:first-child {
        margin-top: 50px;
        font-size: 3rem;
    }
    
    .newsletter-header span:last-child {
        font-size: 1.5rem;
    }

    /* newsletter end */


    /* watch video start */
    .watch-video {
        grid-template-columns: 700px 200px;
        grid-template-rows: 100px 400px;
        column-gap: 10px;
    }

}

@media only screen and (max-width: 768px) { 

  /* horizontal scroll style */
  .card-container {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(5, 100%);
    grid-template-rows: 500px;
    grid-gap: 5px;
    overflow-x: scroll;
  }
  
  .card-item {
    grid-area: span 1 / span 1;

  }

  /* latest-stories start */
  .latest-stories {
    max-width: 730px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr repeat(8, 1fr) 1fr;
    gap: 20px;
 }
 .latest-stories-header {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.latest-stories-item {

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
}

.item-img img{
    border-radius: 50%;
}

.item-date {
    grid-column-start: 2;
}

.latest-stories-footer {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

/* latest stories end */

/* explore channels start */
.explore-channels-header {
    justify-content: center;
    align-items: center;
    height: 20%;
}
/* explore channels end */


/* watch video start */
.watch-video {

    max-width: 1080px;
    margin: 50px auto;
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;

    display: grid;
    grid-template-columns: 700px;
    grid-template-rows: 100px 400px;
    row-gap: 10px;
}

.video-header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.video-container {
    grid-row: 2 / -2;
    grid-column: 1 / -1;

    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.video-sidebar {
    grid-template-rows: -2 / -1;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    overflow-x: scroll;
}

.sidebar-item{
    flex: 0 0 200px;
}

}














/* ======================================

	MediaQuery-Reporter Styles

========================================= */

/* body:after {
	content: "less than 320px";
	font-size: 300%;
	font-weight: bold;
	position: fixed;
	bottom: 60px;
	width: 100%;
	text-align: center;
	background-color: hsla(1,60%,40%,0.7);
	color: #fff;
}
@media only screen and (min-width: 320px) {
	body:after {
		content: "320 to 480px";
		background-color: hsla(90,60%,40%,0.7);
	}
}
@media only screen and (min-width: 480px) {
	body:after {
		content: "480 to 768px";
		background-color: hsla(180,60%,40%,0.7);
	}
}
@media only screen and (min-width: 768px) {
	body:after {
		content: "768 to 1024px";
		background-color: hsla(270,60%,40%,0.7);
	}
}
@media only screen and (min-width: 1024px) {
	body:after {
		content: "1024 and up";
		background-color: hsla(360,60%,40%,0.7);
	}
} */