header {
  background-color: rgb(227,232,238);
  padding: 5vh 5vw;

  /* border-top: 5px solid lightslategray; */
  border-top: solid lightslategray calc(2px + 0.162vw);

}

a {
  text-decoration: none;
  color: #444;
  margin: 0 2vw;
}


